// Place all the styles related to the customer/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
    font-size: x-large;
    font-weight: bold;
}

.sub {
    font-size: midium;
    font-weight: bold;
}

.total_price {
    margin: 0 0 0 auto;
    font-size: x-large;
}